<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlinks}}

</head>

   <body>
        <!-- navbar -------------------- -->
      {{>navbar}}

        <!-- main header  -->

        <div class="container-fluide main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row">
                        <!-- Main header left -------------  -->

                        <div class="col-md-12 col-12 main_header_left align-items-center">
                            <figure class="errimg">
                                <img class="img_fluid" title="Neo aka OM" src="images/404error.jpg" alt="">
                            </figure>

                       <img src="images/dogesh.jpg" class="dogesh" alt="">
                        <h1>{{errorMsg}} </h1>
                         <p >~ Dogesh</p>
                        <a href="/" class="mt-2"><button>Go Back</button></a>
                    </div>

                    <!-- main header right ------------------  -->

                
                        </div>
                </div>
                
            </div>
        </div>
         
        
        <!-- footer code ------------------ -->

    {{>footer}}
</body>
</html>