<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlinks}}

</head>

   <body>
        <!-- navbar -------------------- -->
      {{>navbar}}

        <!-- main header  -->

        <div class="container-fluide main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row">
                        <!-- Main header left -------------  -->

                        <div class="col-md-6 col-12 main_header_right align-items-center">
                            <figure>
                                <img class="img_fluid" title="Neo aka OM" src="images/about.png" alt="">
                            </figure>
                             </div>

                        <div class="col-md-6 col-12 main_header_left">
                        <p>привет , I Am Neo</p>
                        <h1>I Am A  <span class="text_clr">Mern Stack Developer And Freelancer.</span> See You Soon.. </h1>
                        <a href="./images/love.png"><button>About Me</button></a>
                    </div>

                    <!-- main header right ------------------  -->

                
                        </div>
                </div>
                
            </div>
        </div>
         
        
        <!-- footer code ------------------ -->

    {{>footer}}
</body>
</html>